---

# - name: Check if custom field is created
#   ansible.builtin.include_tasks: add_custom_field.yml

- name: Update Current SW Version in Netbox
  ansible.builtin.include_tasks: add_sw_version.yml

- name: Update Available SW Version in Netbox
  ansible.builtin.include_tasks: add_avail_sw_version.yml
  when: update_netbox_avail_sw_version is defined
