---
- name: "Check flash for uploaded sw image {{ sw_version }}"
  arista.eos.eos_command:
    commands:
      - command: "dir flash:/{{ eos_version }}"
  register: result

- name: Ensure image is loaded
  ansible.builtin.assert:
    that:
      - '"Error" not in result.stdout[0]'

- name: Modify boot config
  arista.eos.eos_config:
    lines: "boot system flash:/{{ eos_version }}"

- name: Save switch config
  arista.eos.eos_command:
    commands: "write"

- name: Reload router
  arista.eos.eos_command:
    commands:
      - command: "reload"
        prompt:
          - \[confirm\]
        answer:
          - "{{ reload_answer | default('y') }}"
        newline: false

- name: Pause for router reload
  ansible.builtin.pause:
    minutes: 3
