[defaults]
inventory = ./plugins/inventory/nb_inventory.yml
host_key_checking = False
deprecation_warnings=False

[inventory]
enable_plugins = netbox.netbox.nb_inventory, host_list, script, yaml, ini, auto

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
