---

- name: Initiate Arista SWIM process
  gather_facts: false
  hosts: "{{ dut | default('eda-sw100')}}"
  vars_files:
    - "./vars/slack_info.yml"
    - "./vars/kafka_info.yml"
  vars:
    test_name:
      - arista_test_interfaces
      - arista_test_routing
      - arista_test_http

  tasks:
    - name: Publish kafka message authorizing upgrade
      ansible.builtin.include_role:
        name: messages_kafka
    # - name: Publish kafka message authorizing upgrade
    #   wwt.kafka.kafka_producer:
    #     host: "{{ messages_kafka_hostname }}"
    #     port: "{{ messages_kafka_port }}"
    #     verify_mode: false
    #     topic: "{{ messages_kafka_topic }}"
      vars:
        messages_kafka_data: {
          "upgrade": {
            "upgrade_status": "arista_sw_upgrade_authorized",
            "device_name": "{{ dut }}",
            "sw_version": "{{ sw_version }}"
          }
        }

    - name: Publish kafka message with test test_results
      ansible.builtin.include_role:
        name: messages_kafka
    #   wwt.kafka.kafka_producer:
    #     host: "{{ messages_kafka_hostname }}"
    #     port: "{{ messages_kafka_port }}"
    #     verify_mode: false
    #     topic: "{{ messages_kafka_topic }}"
      vars:
        messages_kafka_data: "{{ lookup('ansible.builtin.template', '../templates/arista_test_run.j2') }}"
      loop: "{{ test_name }}"
