---

- name: Initiate Arista post-SWIM process
  gather_facts: false
  hosts: "{{ dut | default('eda-sw100')}}"
  vars_files:
    - "./vars/slack_info.yml"
    - "./vars/kafka_info.yml"
  vars:
    test_name:
      - arista_test_interfaces
      - arista_test_routing
      - arista_test_http
      - arista_test_sw_version

  tasks:

    - name: Publish kafka message with upgrade status
      ansible.builtin.include_role:
        name: messages_kafka
      vars:
        messages_kafka_data: {
          "upgrade": {
            "device_name": "{{ inventory_hostname }}",
            "upgrade_status": "complete",
            "sw_version": "{{ sw_version }}"
          }
        }

    - name: Publish kafka message with tests to run
      ansible.builtin.include_role:
        name: messages_kafka
      vars:
        messages_kafka_data: "{{ lookup('ansible.builtin.template', '../templates/arista_test_run.j2') }}"
      loop: "{{ test_name }}"

    # - name: send slack message
